.DS_Store


Dear Hiring Manager,

I am keen to apply for the Backend Python Developer role at DS LEGENDS PTE. LTD. With over three years of experience in backend development, I have delivered scalable Python services, implemented secure authentication and authorization workflows, optimised PostgreSQL and NoSQL databases, and integrated high-performing RESTful APIs.

At Ngaze Inc., I improved API efficiency by 20%, ensured 99.9% uptime through Docker and Kubernetes deployments, and built robust backend features aligned with client requirements. My background also includes Agile and Scrum delivery, and cloud expertise with AWS and GCP, enabling me to deliver secure, reliable, and future-ready systems.

I would be pleased to bring my technical expertise, problem-solving skills, and collaborative approach to support DS LEGENDS in delivering innovative digital solutions.

Best regards,
Protick Roy